

.container{
    /*border: 2px solid black;*/
}
.container_box_1{
    border-bottom: 2px solid black; height: 100px;background-color: #c8f4de;position: fixed;width: 100%; top:0;border-top: 2px solid black; right:0; left:0;
}

.anhson{
    clear: both; background-color: #00BFFF; color: white; text-align: center; border-top: 2px solid black; border-bottom: 2px solid black;padding: 10px;;width: 100%;bottom: 0;position: fixed;right: 0; left: 0
}
.content{

    background-color: red
}
